@use "@/assets/styles/variablesAndMixins" as *;

@font-face {
    font-family: 'Satisfy';
    src: url('@/assets/fonts/Satisfy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
}

html {
    font-size: 14px;
}

h1 {
    font-family: 'Satisfy';
    line-height: 3rem;
    font-size: 3rem;
}

h2 {
    font-family: 'Satisfy';
    font-size: 2rem;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-image: linear-gradient(to top, $secondary-color 0%, $primary-color 100%);
}

#app {
    @include flex-center;
    position: relative;
    min-height: 100vh;
}